
body,
ul,
li {
	padding: 0;
	margin: 0;
	border: 0
}


#wrapper {
	position: absolute;
	top: 45px;
	bottom: 0px;
	left: 0;
	width: 100%;
	-webkit-transform:translate3d(0,0,0);
}


#pullDown,
#pullUp {
	font-size: 12px;
	font-family: microsoft yahei padding: 0 10px;
	height: 40px;
	line-height: 40px;
	color: #888;
	text-align: center
}
